<nav class="global-nav --is-light">
    <a class="global-nav__home-link" href="">WORLD ARTS FOUNDATION INC.</a>    
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "global-nav__donate-link" %>
</nav>