@import "variables";

.cmpt-archive-item {
}

.cmpt-archive-item__button {
  padding: 0;
  border: 0;
  background: none;
  color: #fff;
  cursor: pointer;
}

.cmpt-archive-item__thumb {
  max-width: 100%;

  img {
    width: 100%;
  }
}

.cmpt-archive-item__meta {
  text-align: left;
  margin-top: 16px;
}

.cmpt-archive-item__year {
  margin-top: 5px;
  color: $purple-1;
}

.modalArchiveItem {
  display: flex;
  align-items: center;
}

.modalMetaInfo {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
  color: #fff;
}

.modalMetaLabel {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  margin-top: 20px;
  color: rgba(255,255,255, 0.7);
}