@import "variables";

.cmpt-sponsors {
  background: #fafafd;
  padding: 200px 0;
}

.cmpt-sponsors__headline {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 80px;
  text-align: center;
}
