@import "variables";

.cmpt-work-block {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
}

.cmpt-work-block__side-text {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: rotate(-90deg);
}

.cmpt-work-block__image {
  width: 45%;
}

.cmpt-work-block__content {
  width: 45%;
}
